.pure-menu {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pure-menu-item,
.pure-menu-list {
  position: relative;
}
.pure-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pure-menu-item {
  padding: 0;
  margin: 0;
  height: 100%;
}
.pure-menu-horizontal .pure-menu-list {
  display: inline-block;
}
.pure-menu-scrollable .pure-menu-list {
  display: block;
}
.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list {
  display: inline-block;
}
.pure-menu-horizontal .pure-menu-heading,
.pure-menu-horizontal .pure-menu-item,
.pure-menu-horizontal .pure-menu-separator {
  display: inline-block;
  vertical-align: middle;
}
.pure-menu-item .pure-menu-item {
  display: block;
}
.pure-menu-active > .pure-menu-children,
.pure-menu-allow-hover:hover > .pure-menu-children {
  display: block;
  position: absolute;
}
.pure-menu-heading,
.pure-menu-link {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}
.pure-menu-has-children > .pure-menu-link:after {
  padding-left: 0.5em;
  content: "\25B8";
  font-size: small;
  float: right;
}
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
  content: "\25BE";
}
.pure-menu-link {
  color: #777;
}
.pure-menu-heading,
.pure-menu-link {
  padding: 0.5em 1em;
}
.pure-menu-disabled .pure-menu-link:hover {
  background-color: transparent;
  cursor: default;
}
.pure-menu-active > .pure-menu-link,
.pure-menu-link:focus,
.pure-menu-link:hover {
  background-color: #eee;
}
.pure-menu-selected > .pure-menu-link,
.pure-menu-selected > .pure-menu-link:visited {
  color: #000;
}
.pure-menu-children {
  display: none;
  position: absolute;
  left: 100%;
  top:0;
  margin: 0;
  padding: 0;
  z-index: 3;
}
.pure-menu-horizontal .pure-menu-children {
  left: 0;
  top: auto;
  width: inherit;
}
.pure-menu-horizontal .pure-menu-children .pure-menu-separator,
.pure-menu-separator {
  background-color: #ccc;
  height: 1px;
  margin: 0.3em 0;
}
.pure-menu-horizontal .pure-menu-children .pure-menu-separator {
  display: block;
  width: auto;
}
.pure-menu-children {
  background-color: #fff;
  
}
.pure-menu-allow-hover{
  background-color: #fff;
}
.mtn-1{
  top: -44px;
}
.mtn-2{
  top: -88px;
}
.mtn-3{
  top: -132px;
}
.mtn-4{
  top: -176px;
}
.mtn-5{
  top: -220px;
}
.mtn-6{
  top: -264px;
}
.mtn-7{
  top: -308px;
}
.mtn-8{
  top: -352px;
}
.mtn-9{
  top: -396px;
}
.mtn-10{
  top: -440px;
}
.mtn-11{
  top: -484px;
}
.mtn-12{
  top: -528px;
}
.mtn-13{
  top: -572px;
}
.mtn-14{
  top: -616px;
}
.mtn-15{
  top: -660px;
}
.mtn-16{
  top: -704px;
}
.mtn-17{
  top: -748px;
}
.mtn-18{
  top: -792px;
}
.mtn-19{
  top: -836px;
}
.mtn-20{
  top: -880px;
}

